:root {
  --fundoClaro: hsl(240, 78%, 98%);
 --fonteMenuCabecalho: hsl(234, 14%, 74%);
 --fonteTextoCard: hsl(233, 13%, 49%);
 --fonteValorNaoSelecionado: hsl(232, 13%, 33%);
 --fundoCard1: hsl(236, 72%, 79%);
 --fundoCard2: hsl(237, 63%, 64%);
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background-image: url(../src/images/bg-bottom.svg), url(../src/images/bg-top.svg) ;
  background-size: 20% auto, 25% auto;
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  height: 50vw;
}


@media screen and (max-width: 1080px) {
  
  .App {
    background-image: url(../src/images/bg-top.svg) ;
    background-size: 60% 1000%;
    background-position: top right;
    font-size: 14px;
    
  }
}
